body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b9d1ba;
}

header {
    background-color: #132614;
    color: white;
    padding: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ca9db0;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    text-align: center;
}

a {
  background-color: #132614; 
  color: #ca9db0; 
  padding: 10px 20px; 
  text-decoration: none;
  border-radius: 12px; 
  display: inline-block; 
  font-weight: bold; 
  border: 2px solid #ca9db0; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

a {
  background-color: #132614;
  color: #ca9db0;
  padding: 10px 20px; 
  text-decoration: none;
  border-radius: 12px; 
  display: inline-block;
  font-weight: bold;
  border: 2px solid #ca9db0;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

a:hover {
  background-color: #ca9db0; 
  color: #132614;
  border-color: #132614;
}

footer {
    background-color: #132614;
    color: #ca9db0;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .sitename {
  color: #09bb2f; 
  font-weight: bold; 
}

footer span {
  color: #f2f2f2; 
}

footer p strong {
  color: #ca9db0; 
  font-weight: bold; 
}

header img {
    width: 5%;
    height: auto;
}

.text {
    color: #ff006a;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 20px;
}

.mySlides {
    max-height: 500px;
    margin: auto;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .prev {
    left: 100px;
  }
  
  .next {
    right: 100px;
  }
  

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 12px 16px;
  position: absolute;
  width: 100%;
  transform: translateX(-2%);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}