body {
    font-family: Arial, sans-serif;
    background-color: #b9d1ba; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #132614; 
    color: #ca9db0;
}

header img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #ca9db0;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: #f0f0f098; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto; 
}

main h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    text-align: left;
    color: #333;
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"]::placeholder,
form input[type="password"]::placeholder {
    color: #aaa;
}

input {
    background-color: #504138;
}

form button {
    padding: 10px;
    background-color: #132614;
    color: #ca9db0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #444;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #132614; 
    color: #ca9db0;
}

.hidden {
    display: none;
}

a {
    background-color: #132614;
    color: #ca9db0;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #555;
}

form label[for="username"], 
form label[for="password"] {
    font-weight: bold; 
    font-size: 18px;   
}

#loginForm {
    background-size: auto; 
    background-position: center center;
    background-repeat: no-repeat; 
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
    margin: 50px auto; 
    color: white;
    font-family: Arial, sans-serif;
}
#loginForm::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/logoFundoLogin.png'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
    opacity: 0.3; 
    z-index: -1; 
}

#loginForm h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}

#loginForm form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#loginForm form label {
    text-align: left;
    color: #fff;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
}

#loginForm input[type="text"]::placeholder,
#loginForm input[type="password"]::placeholder {
    color: #ccc;
}

#loginForm button {
    padding: 10px;
    background-color: #132614; 
    color: #ca9db0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#loginForm button:hover {
    background-color: #444; 
    color: #fff; 
    transform: scale(1.05);
    transition: all 0.3s ease; 
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .about .content p {
    margin-bottom: 30px;
  }
  
  .about .content .about-btn {
    padding: 8px 30px 9px 30px;
    color: var(--accent-color);
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--accent-color);
  }
  
  .about .content .about-btn i {
    font-size: 16px;
    padding-left: 5px;
  }
  
  .about .content .about-btn:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
  }
  
  .about .icon-box i {
    font-size: 40px;
    color: var(--accent-color);
    margin-bottom: 10px;
  }
  
  .about .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
  }
  
  .about .icon-box h4 a {
    color: var(--heading-color);
    transition: 0.3s;
  }
  
  .about .icon-box p {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 0;
  }
  
  .about .icon-box:hover h4 a {
    color: var(--accent-color);
  }
  